.pagination {
	display: flex;
	justify-content: center;
	padding: 5px;
	width: 100vw;
	height: 6vh;
	bottom: 0;
	position: fixed;
}

.pagination-buttons {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	bottom: 0;
	position: fixed;
	width: 100vw;
	height: 6vh;
	background-color: #f4f4f4;
	padding: 5px;
	border-top: 2px #fdfdfd groove;
	box-shadow: 0 -0.5px 7px 0.5px #cdcdcd;
}

.my-cart-button {
	z-index: 200;
	right: 10px;
	position: fixed;
}

.pagination-button {
	padding: 8px 16px;
	margin: 0 5px;
	background-color: #007bff;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 14px;
	align-items: center;
	display: flex;
	transition: background-color 0.3s;
}

.pagination-button:hover {
	background-color: #0056b3;
}


.current-page {
	display: flex;
	align-items: center;
	padding: 8px;
	font-size: 14px;
}

.add-button {
	max-width: 80%;
	height: 40px;
	justify-self: center;
	margin-bottom: 15%;
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 4px;
	transition: background-color 0.3s;
}

.add-button:hover {
	background-color: #0056b3;
}

.remove-button {
	max-width: 80%;
	justify-self: center;
	margin-bottom: 15%;
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 4px;
	transition: background-color 0.3s;
}

.remove-button:hover {
	background-color: #0056b3;
}