* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: #f4f4f4;
}

.page {
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 200px;
}

.products {
	display: flex;

	flex-direction: column;
	position: absolute;
	top: 0;
}

.title {
	display: flex;
	align-self: center;
	margin-top: 10px;
}

.products-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	max-width: 80vw;
	flex-wrap: wrap;
}

.product-card {
	display: grid;
	width: 200px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin: 20px;
}

.product-info {
	padding: 12px;
	height: 200px;
	text-align: center;
}

.product-title {
	font-size: 1.3em;
	color: #333;
	margin-bottom: 10px;
}

.product-price {
	font-size: 1.2em;
	color: #28a745;
	margin: 10px 0;
}

.product-description,
.product-stock,
.product-category {
	font-size: 0.9em;
	color: #666;
	margin-bottom: 15px;
}

.product-button {
	display: inline-block;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.product-button:hover {
	background-color: #0056b3;
}
