<html lang='en'>

<head>
	<meta charset='UTF-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<link rel='stylesheet' href='/css/styles.css' />
	<link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css' />
	<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js'></script>
	<title>e-commerce</title>
</head>

<body>
	<nav>
		<a href='/products' class='product-btn'>Inicio</a>
		<div class='account-options-container'>
			<p id='username'></p>
			<button class='product-btn' id='logout-btn'>Cerrar sesión</button>
			<a class="product-btn" href="/login" id="login-btn">Iniciar sesión</a>
		</div>
	</nav>
	<style>
		nav {
			display: flex;
			position: fixed;
			top: 0;
			width: 100vw;
			justify-content: space-between;
			align-items: center;
		}

		a,
		button {
			border: none;
			font-size: 16px;
			line-height: 1;
		}

		nav * {
			margin: 10px;
		}

		.account-options-container {
			display:
				flex;
			flex-direction: row;
			align-items: center;
		}

		.account-options-container * {
			display: none;
		}
	</style>
	<script>
		const loginBtn = document.getElementById('login-btn')
		const logoutBtn = document.getElementById('logout-btn');
		const usernameP = document.getElementById('username');
		fetch('/api/sessions/current')
			.then(response => {
				if(response.status == 200) {
				logoutBtn.style.display = 'flex';
				usernameP.style.display = 'flex';
				let username = '{{username}}';
				if (username) {
					localStorage.setItem('username', username);
				} else {
					username = localStorage.getItem('username');
				}
				usernameP.textContent = `Bienvenido, ${username}`;
				logoutBtn.addEventListener('click', e => {
					fetch('/api/sessions/logout', { method: 'POST' }).then(resp => {
						localStorage.removeItem('username');
						window.location.href = '/';
					})
				})
				} else {
				loginBtn.style.display = 'flex';
				}
			})
	</script>
	{{{body}}}
</body>

</html>