<html lang='en'>

<head>
	<meta charset='UTF-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<link rel='stylesheet' href='/css/styles.css' />
	<link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css' />
	<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js'></script>
	<title>e-commerce</title>
</head>

<body>
	<nav>
		<a href='/products' class='product-btn'>home</a>
		<div class='account-options-container'>
			<p id='username'></p>
			<button class='product-btn' id='logout-btn'>log out</button>
			<a class="product-btn" href="/login" id="login-btn">log in</a>
		</div>
	</nav>
	<style>
		nav {
			display: flex;
			position: fixed;
			top: 0;
			width: 100vw;
			justify-content: space-between;
			align-items: center;
		}

		a,
		button {
			border: none;
			font-size: 16px;
			line-height: 1;
		}

		nav * {
			margin: 10px;
		}

		.account-options-container {
			display:
				flex;
			flex-direction: row;
			align-items: center;
		}

		.account-options-container * {
			display: none;
		}
	</style>
	<script>
		const domain = window.location.host;
		function getCookie(cname) {
			// cuantos programadores hacen falta para averiguar el valor de una cookie??
			let name = cname + "=";
			let decodedCookie = decodeURIComponent(document.cookie);
			let ca = decodedCookie.split(';');
			for (let i = 0; i < ca.length; i++) {
				let c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
		const loginBtn = document.getElementById('login-btn')
		const logoutBtn = document.getElementById('logout-btn');
		const usernameP = document.getElementById('username');
		if (getCookie('authStatus')) {
			logoutBtn.style.display = 'flex';
			usernameP.style.display = 'flex';
			const username = getCookie('username')
			usernameP.textContent = `Bienvenido, ${username.split(' ')[0]}`;
			logoutBtn.addEventListener('click', e => {
				fetch(`http://${domain}/api/sessions/logout`, { method: 'POST' })
				window.location.reload();
			})
		} else {
			loginBtn.style.display = 'flex';
		}
	</script>
	{{{body}}}
</body>

</html>